

body {
    background-color: blueviolet;
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    background-image: url("assets/back.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 100px; 
    padding-bottom: 50px;
}



.loginbox{
    display: flex;
    justify-content: center;
    background-color: azure;
    width: 25%;
    box-shadow: 0px 0px 5px 5px purple;
    max-width: 1080px;
    min-width: 300px;
    box-sizing: content-box;
    border-radius: 10px; 
}


.loginbox:hover{
    box-shadow: 0px 0px 15px 10px purple;
}


.innerbox {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#title {
    margin-top: 20px;
}


.title {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 5px;
}


input[type=text] {
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid purple;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px inset gray;
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
}

input[type=password] {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid purple;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px inset gray;
    display: block;
    margin-bottom: 50px;
}


input[type=submit] {
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid purple;
    background-color: plum;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: palevioletred;
}





input[type=submit]:active {
    background-color: purple;
}




.forgotpassword {
    color: rebeccapurple;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    text-decoration: none;
    
}
.forgotpassword:hover{
    color: red;
}